// Breakpoints
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$breakpoint-xxlarge: 1400px;

// Colors
$color-primary: #ff5b00;
$color-white: #f9f9f9;
$color-white-transparent: rgba(255, 255, 255, 0.8);
$color-gray: rgba(0, 0, 0, 0.3);
$color-black: #000;

// Fonts
$font-size-s: 1.4rem;
$font-size-m: 1.6rem;
$font-size-l: 1.8rem;
$font-size-xl: 2.2rem;
$font-size-xxl: 2.8rem;
$font-size-base: 1.6rem;

// Shadows
$shadow-card: rgba(0, 0, 0, 0.1) 0px 4px 12px;

// Border radius
$border-radius-s: 5px;
$border-radius-m: 18px;
