.nav {
  position: sticky;
  top: 0;
  background: $color-white-transparent;
  backdrop-filter: blur(1.5rem) saturate(200%);
  user-select: none;
  z-index: 1000;

  &__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  &__list {
    display: none;
    text-align: center;
  }

  &__item {
    &--selected {
      border-bottom: 2px solid $color-primary;
    }
  }

  &__anchor {
    display: block;
    // padding: 4rem 0;
  }

  @include from-medium {
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;

    #toggle-nav-button {
      display: none;
    }

    &__mobile {
      padding: 2rem 0;
    }

    &__list {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-grow: 1;
      padding-left: 11rem;
      padding-right: 18.2rem;
    }

    &__items a {
      font-weight: 500;
      padding: 0;
    }
  }
}

.show-menu-items {
  display: block;
  position: absolute;
  background-color: $color-white;
  width: 100%;
  z-index: 100;
}

#nav-logo {
  color: $color-primary;
  font-size: 3.2rem;
}

#toggle-nav-button {
  font-size: 3.2rem;
  margin-top: 0.4rem;
  background-color: transparent;
  border-color: transparent;
}
